$navbar-height: 60px;

$black: #303030;
$black-soft: #3d3d3d;
$gray-darker: #414646;
$gray-dark: rgb(124, 130, 124);
$gray: rgba(170, 175, 170, 1);
$gray-light: #d3d3d3;
$gray-lighter: rgb(230, 230, 230);
$gray-lightest: #f5f5f5;
$white: #ffffff;
$background: #fafafa;

$green-dark: #37b987;
$green: #3cc896;
$green-light: #50e196;

$red-dark: #d24137;
$red: #eb4b3c;
$terredciary-light: #fa5f55;

$yellow-dark: #e1be2d;
$yellow: #f5d23c;
$yellow-light: #fadc50;

$blue-dark: #2896e6;
$blue: #37aaff;
$blue-light: #64beff;

$purple-dark: #a02ddc;
$purple: #b42dff;
$purple-light: #c85aff;




