@import 'abstracts/variables';

.page-container {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
  flex-direction: column;
    overflow: hidden auto;
  main {
    padding: 25px 30px;
    width: 100%;
    margin-top: #{$navbar-height};
    min-height: calc(100vh - #{$navbar-height});
  }
}